extends ../_template
block variables
  - var title = ''

block content
  body
  

    div(style="visible: hidden; display: none; opacity: 0")
      include ../common/svg-icon

    //- include ../sections/plus